<% if current_user %>
  <% # Logged In %>
  <section id="home-hero">
    <h1>Welcome to KobiBook</h1>
  </section>
  <section id="home-blogroll">
    <div class="container">
      <% @posts = Post.all %>
      <% @posts.each do |post| %>
        <h3><a class="post-link" href="/post/<%= post.id %>"><%= post.title %></a></h3>
        <p class="post-content"><%= post.content %></p>
      <% end %>
    </div>
  </section>
<% else %>
  <% # Logged Out %>
  <section id="home-loggedout">
    <div class="container">
      <div class="row">
        <div class="col col-50">
          <h2>Sign Up</h2>
          <form id="signup-form" action="/users/new" method="post">
            <input type="text" name="[new_user]user_name" placeholder="Username">
            <input type="password" name="[new_user]password" placeholder="Password">
            <input type="submit" name="" value="Submit">
          </form>
        </div> <!-- col-50 -->
        <div class="col col-50">
          <h2>Sign In</h2>
          <form id="signin-form" action="/sign-in" method="post">
            <input type="text" name="user_name" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Submit">
          </form>
        </div> <!-- col-50 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>
<% end %>