<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>SECOND APP</title>
    </head>
    <body>
        <%= flash[:notice] if flash[:notice] %>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </header>
        <%= yield %>
    </body>
</html>
