<h1>Sign In</h1>
<form id="signin-form" action="/sign-in" method="post">
  <input type="text" name="user_name" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="" value="Submit">
</form>