<section id="post-hero" class="hero">
  <div class="container">
    <h1> <%= @post.title %> </h1>
  </div>
</section>

<section id="post-content">
  <div class="container">
    <p>  <%= @post.content %> </p>
  </div>
</section>