<section id="blog-stuff" class="stuff">
  <div class="container">
    <h1>Feed</h1>
  </div>
</section>

<section id="blog-content">
  <div class="container">
    <div id="posts-blogroll" class="blogroll">
      <% @posts.each do |post| %>
        <h3><a class="post-link" href="/post/<%= post.id %>"><%= post.title %></a></h3>
        <p class="post-content"><%= post.content %></p>
      <% end %>
    </div>
  </div>
</section>
