<h1>User List</h1>
<% @users.each do |user| %>
  <p class="user-link">
    <a href="/user/<%= user.id %>">
      <% if user.nickname %><%= user.nickname %><% else %><%= user.user_name %><% end %>
    </a>
  </p>
<% end %>
