<h1>Welcome to
  <span id="profilefield-nickname">
    <% if @user.nickname %>
      <%= @user.nickname %>
    <% else %>
      <%= @user.user_name %>
    <% end %>
  </span>'s Page!
</h1>

<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p>
        <%= post.content %>
    </p>
<% end %>
