<h1>Welcome to
  <span><%= (@user.nickname) ? @user.nickname : @user.user_name %></span>'s Page!
</h1>

<section id="profile">
<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p>
        <%= post.content %>
    </p>
<% end %>
