/* Framework
 *****************************************************************************/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

/* HEADER SECTION
  ***************************************************************/

#home-hero h1 {
  color: blue;
}

/* SECTION NAME
  *****************************************************************************/